:host{
  /* Es una forma de "THIS" */
  display: block;
  background-color: brown;
  color: beige;
  padding-left: 3rem;
  padding-right: 3rem;
}

header{
  display: flex;
}

h1{
  flex: 12 1 auto;
}

div{
  flex: 1 1 auto;
}

img{
  max-width: 100%;
}
